body{
    font: Helvetica;
}

.container{
    width: 500px;
}

/* john ryk nava */
h1{
    color: #375e97;
    border-bottom: 5px dotted #375e97;
    font-size: 2em;
    width: 500px;
}

/* aspiring web design */
#job{
    color: #999999;
    font-size: 1.5em;
}

/* contact information */
.contact{
    font-size: 25px;

}

/* links */
.info{
    background-color: #eeeeee;
    border: 5px solid purple;
    padding-left: 0px;
    width: 500px;
}

/* email and web */
.link{
    color: #2b99e6;
    /* color: #82b8de; */
}