*{
    padding: 0%;
}


body{
    font-family: Arial, Helvetica, Serif;
}

.container{
    width: 400px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    border-bottom: 5px dotted #375e97;
    color: #375e97;

    width: 440px;
}

p strong{
    color: #999999;
}


.info{
    background-color: #eeeeee;
    border: 5px solid purple;
    padding: 10px 0px 10px 25px;
    width: 400px;
}

.link{
    color: #82b8de;
}

ul li a:hover{
    text-decoration: none;
    color: #2b99e6;
}