body{
    font-style: Arial, Helvetica, Sans-serif;
}

.container{
    width: 500px;
}

h1{
    font-style: Georgia;
    font-size: 2em;
    border-bottom: 5px dotted #375e97;
    color: #375e97;

    width: 500px;
}

#job{
    color: #999999;
    font-size: 1.5em;
} 

.info{
    background-color: #eeeeee;
    border: 5px solid purple;
    padding-left: 0px;
    width: 500px;
}

.link{
    color: #2b99e6;
    /* color: #82b8de; */
}

ul li a:hover{
    text-decoration: none;

}